<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>校园二手交易平台</title>
    <!-- 引入layui css -->
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css" />
    <!-- 引入layui js -->
    <script src="https://www.layuicdn.com/layui-v2.5.6/layui.js"></script>

    <link rel="stylesheet" th:href="@{/layui/css/layui.js}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

    <link rel="stylesheet" th:href="@{layui/user.js}">
    <link rel="stylesheet" th:href="@{layui/css/user.css}">
</head>

<body>
<div class="web-shop">
    <!-- 头部导航条 -->
    <div class="header layui-bg-black">
        <div class="container">
            <ul class="nav">
                <li>
                    <a th:href="@{/}">湖南工商大学</a>
                </li>
                <li >
                    <a th:if="!${session.u_Account}" href="/login">登录</a>
                </li>
                <li>
                    <a th:if="!${session.u_Account}" href="/regists/init">注册</a>
                </li>
                <li >
                    <a th:if="${session.u_Account}" href="/admin/quit">退出登录</a>
                </li>
            </ul>
            <ul class="nav">

                <li>
                    <a th:href="@{/admin/shoppingCarInit}" class="arrow">购物车</a>
                </li>
                <li>
                    <a th:href="@{/admin/userInfo}" class="arrow">用户中心</a>
                </li>
            </ul>
        </div>
    </div>




        <div class="layui-layout layui-layout-admin">
            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <ul class="layui-nav layui-nav-tree " lay-filter="test">
                        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                        <li class="layui-nav-item">
                            <a href="javascript:;">图书</a>
                            <dl class="layui-nav-child">
                                <dd><a href="/search?search=书">教材图书</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">数码产品</a>
                            <dl class="layui-nav-child">
                                <dd><a href="/search?search=手机">手机</a> </dd>
                                <dd><a href="/search?search=电脑">电脑</a> </dd>
                                <dd><a href="/search?search=配件">数码配件</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">衣物杂货</a>
                            <dl class="layui-nav-child">
                                <a href="/search?search=奢品">奢品</a>
                                <a href="/search?search=衣服">潮牌衣物</a>
                                <a href="/search?search=美妆">美妆用品</a>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">玩具</a>
                            <dl class="layui-nav-child">
                                <a href="/search?search=手办">玩具手办</a>
                                <a href="/search?search=虚拟商品">虚拟商品</a>
                                <a href="/search?search=文玩">文玩</a>
                            </dl>
                        </li>

                        <li class="layui-nav-item">
                            <a href="javascript:;">居家百货</a>
                            <dl class="layui-nav-child">
                                <a href="/search?search=家电">居家家电</a>
                                <a href="/search?search=居家物件">居家物件</a>
                                <a href="女装/search?search=乐器">乐器</a>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">鞋类</a>
                            <dl class="layui-nav-child">
                                <a href="/search?search=休闲鞋">休闲鞋</a>
                                <a href="/search?search=球鞋">球鞋</a>

                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">运动用品</a>
                            <dl class="layui-nav-child">
                                <a href="/search?search=运动器材">运动器材</a>
                                <a href="/search?search=网球拍">网球拍</a>
                                <a href="/search?search=乒乓球拍">乒乓球拍</a>
                            </dl>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="layui-body">
                <div class="body-1">
                    <!-- 搜索框 -->
                    <div class="search">
                        <div class="search-logo">
                        </div>
                        <div class="search-box">
                            <ul class="search-tab">
                                <a href="javascript:;" class="choose1">校园</a>
                                <a href="javascript:;">二手</a>
                                <a href="javascript:;">交易</a>
                            </ul>
                            <form class="search-input" action="search">
                                <input class="box1" type="text" name="search">
                                <button class="btn" type="submit">搜索</button>
                            </form>

                            <div class="search-choose">
                                <a  href="">热门商品：</a>
                                <div  th:each="h:${hotlist}">
                                    <a  href="" th:text="${h}"></a>
                                </div>

                            </div>
                        </div>
                        <div class="search-code">
                            <a href="javascript:;">
                                <img src="./img/jnh.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- 导航栏 -->
                    <ul class="nav layui-bg-cyan">
                        <li class="left-nav layui-bg-green">其余服务</li>
                        <li class="li layui-bg-cyan"><a href="https://blog.csdn.net/qq_44816011?spm=1001.2101.3001.5343">作者简介</a> </li>
                        <li class="li layui-bg-cyan"><a href="https://www.baidu.com">合作网站</a></li>
                        <li class="li layui-bg-cyan">|</li>
                        <div id="app" >
                            <div class="row col-sm-12" style="display:none;" id="show_div2">
                                <div style="text-align: center">
                                  您所在的校园拥有下列运营点:</br>
                                </div>
                                <div id="" v-for="result in results" th:if="${session.u_Account}" style="text-align: center">
                                    <p > {{result}}</p></br>
                                </div>
<!--                                <div style="text-align: center">-->
<!--                                    <p th:if="!${session.u_Account}">请您先登录哦！！</p>-->
<!--                                    <p th:if="${session.u_Account}">湖南工商大学北校区经营点</p>-->
<!--                                    <p th:if="${session.u_Account}">湖南工商大学萃雅经营点</p>-->
<!--                                    <p th:if="${session.u_Account}">湖南工商大学贤德经营点</p>-->
<!--                                    <p th:if="${session.u_Account}">湖南工商大学岭南经营点</p>-->
<!--                                </div>-->
                                <div style="text-align: center">
                                   <p th:if="!${session.u_Account}" >请您先登录哦！！</p>

                                </div>
                            </div>
                            <li class="li layui-bg-cyan"><a href=""  @click.prevent="searchre" class="add_cart" lay-submit lay-filter="address">运营点详细地址</a> <i th:if="!${session.u_Account}"><p style="color: aliceblue">请先登录</p></i></li>
                        </div>

                        <li class="li layui-bg-cyan"> <a href="/search?search=lucky">今日幸运物品</a></li>
                        <li class="li layui-bg-cyan">|</li>
                        <li class="li layui-bg-cyan"><a href="" class="add_cart" lay-submit lay-filter="saysay">留言板</a> <i th:if="!${session.u_Account}" ><p style="color: aliceblue">请先登录</p></i></li>

                        <li  class="li layui-bg-cyan"> </li>
<!--                        <li  class="li layui-bg-cyan"></li>-->
                    </ul>
    <!--            &lt;!&ndash; 图片展示区 &ndash;&gt;-->
    <!--            <div class="layui-body">-->
    <!--                   <a href="#">-->
    <!--                       <img th:src="@{/images/product/bggg.jpg}" style="width:700px;height: 500px;"alt="">-->
    <!--                   </a>-->
    <!--            </div>-->
                    <!-- 商品栏 -->

                    <div class="body-3">
                        <h1 class="title-h1">
                            <div class="icon"></div>热卖单品
                        </h1>
                        <div class="content">
                            <div class="item"  th:each="p:${productList.list}">
                                <a th:href="@{/goodsDetail(pid=${p.getP_Id()})}">
                                    <img th:src="${p.getP_href()}"  style="width: 150px;height: 150px;"/>
                                </a>
                                <p class="line-limit-length"> <a href="#" th:text="${p.getP_Title()}"></a></p>

                                <span th:text="'￥'+${p.getP_Price()}"></span>
                            </div>
                        </div>

                        <div style="text-align:center;font-size: 60px;">
                            <a th:href="@{/showAll(pageNo=${productList.firstPage})}">首页</a>

                            <a th:if="${productList.hasPreviousPage}" th:href="@{/showAll(pageNo=${productList.prePage})}">上一页</a>

                            <a th:if="${productList.hasNextPage}" th:href="@{/showAll(pageNo=${productList.nextPage})}">下一页</a>

                            <a th:href="@{/showAll(pageNo=${productList.lastPage})}">末页</a>
                        </div>
                    </div>




                    <div class="layui-collapse" lay-accordion style="margin-bottom: 50px">
                        <div class="layui-colla-item" style="text-align: center;">
                            <h2 class="layui-colla-title">@ 2021.10.29 其它合作联系软件1801-lz</h2>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>

<div class="row col-sm-12" style="display:none;" id="show_div">

    <form th:action="@{/admin/advice}" method="post">
        <div class="form-group">
            <div style="text-align: center">
                <label id="txt1" class="col-sm-3 control-label" style="text-align: center;font-size: 20px;color: black">请输入您的宝贵意见：</label>
            </div>
            <div class="col-sm-8" style="text-align: center">
                <input onblur="f1()" id="thing" name="thing" minlength="2" type="text" style="width: 300px;height: 200px;" required="" aria-required="true">
            </div>
        </div>
        <div class="form-group" style="text-align: center">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary"  style=" width:100px;height:60px; border-radius:15px;text-align: center"  type="submit" lay-submit lay-filter="go">提交</button>
            </div>
        </div>
    </form>

</div>
<script>

    function  f1(){
        var oto=document.getElementById("thing");
        var str=oto.value ;
        for(var i=0;i<str.length;i++){
            str=str.replace("法轮功","***");
            str=str.replace("缅甸","***");
            str=str.replace("促销","***");
            str=str.replace("他妈的","***");
            str=str.replace("警告","***");
            str=str.replace("去你大爷","***");



        }//遍历输入的字符串，出现汪汪汪即替换为***
        oto.value=str;//把新的字符串传给第二本文本框
    }
</script>
<script th:src="@{/vue/axios.min.js}"></script>
<script th:src="@{/vue/vue.min.js}"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            results: [] //结果
        },
        methods:{
            searchre(){
                const a = '<%=session.getAttribute("u_Account")%>';

                axios.get('/admin/address').then(response=>{
                    this.results=response.data;
                })
            }
        }

    })
</script>
<script>


    layui.use(['table','form','layer'],function (){
        var $ = layui.$;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;

        form.on('submit(address)',function (data) {
            // layer.open({
            //      content: '北校区运营点 : A市B区xx街道</br>南校区贤德运营点 : A市C区xxx街道</br>南校区萃雅运营点 : A市C区xxx街道</br>南校区岭南运营点 : A市C区xxx街道' ,
            //     area: ['454px','365px'],
            //     title: false
            // })
            // return false;
            layer.open({
                type: 1,  //可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                // title: ['我是标题', 'font-size:18px; color:orange;'],//数组第二项可以写任意css样式；如果你不想显示标题栏，你可以title: false
                content: $('#show_div2'),
                area: ['454px','365px'],
                shade: 0,
                title: false
            })
            return false;
        });
        form.on('submit(saysay)',function (data) {
            layer.open({
                type: 1,  //可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
               // title: ['我是标题', 'font-size:18px; color:orange;'],//数组第二项可以写任意css样式；如果你不想显示标题栏，你可以title: false
                content: $('#show_div'),
                area: ['454px','365px'],
                title: false
            })
            return false;

        });
        form.on('submit(go)',function (data) {

            layer.close(layer.index);
        });
    });
</script>
</div>

<script>
    layui.use('element', function() {
        var element = layui.element;
    });
</script>
<script src= th:href="@{layui/css/user.css}"></script>

</body>


</html>

